*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

header{
    background-color: #ED7478;
    color: #FFFFFF;
    padding: 10px;
}

header h1{
    margin-left: 50px;
    letter-spacing: 0.3em;
    margin-left: 50px;
}

main{
    text-align: center;
    padding-top: 100px;
}

span{
    font-weight: bold;
}

p{
    margin-bottom: 10px;
}

.productname{
    text-align: center;
    padding: 10px;
}

.product{
    position: absolute;
  top: 0;
  left: 0;
  margin-top: 100px;
  margin-left: 39%;

}

.details{
    text-align: center;
    size: 200px;
    margin-left: 10%;
    margin-top: 10px;
}

.deteailarea{
    width: 300px;
    height: 350px;
}

.tables{
    margin-left: 43%;
    padding: 10px;
}

.category p{
    margin-left: 40%;
    padding: 4px;
}

.img{
    margin-left: 44%;
    padding: 4px;
}

.ok{
    text-align: center;
}

#submit{
    margin-top:30px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ED7478;
    border: none;
    width: 70px;
    height: 40px;
}
