*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

header{
    background-color: #ED7478;
    color: #FFFFFF;
    padding: 10px;
}

header h1{
    margin-left: 50px;
    letter-spacing: 0.3em;
    margin-left: 50px;
}

main{
    text-align: center;
    padding-top: 100px;
}

table{
    margin: auto;
}

td{
    padding: 10px;
}

#submit{
    margin-top:30px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ED7478;
    border: none;
    width: 70px;
    height: 40px;
}
