*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

header{
    background-color: #ED7478;
    color: #FFFFFF;
    padding: 10px;
}

header h1{
    font-size: 40px;
    letter-spacing: 0.3em;
    margin-left: 50px;
}

main{
    margin-top: 30px;
    text-align: center;
}

main span{
    margin: 10px;
}

span{
    font-weight: bold;
}

input {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}
select {
    padding: 0px 5px;
    margin-bottom: 30px;
}

#submit{
    margin-top:30px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ED7478;
    border: none;
    width: 90px;
    height: 40px;
}